:root {
    /* Letterboxd Rəngləri */
    --bg-main: #14181c; /* Əsas Arxa Fon (Çox tünd boz) */
    --bg-header: #2c3440; /* Navbar Fonu */
    --bg-card: #1b2228; /* Kartın içi */
    --text-main: #99aabb; /* Əsas yazı rəngi (Boz-mavi) */
    --text-white: #ffffff; /* Başlıqlar üçün */
    --accent-green: #00e054; /* Parlaq yaşıl (Buttonlar üçün) */
    --accent-orange: #ff8000; /* Ulduzlar üçün */
    --border-color: #456; /* İncə xətlər */
}

body {
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: 'Graphik', Helvetica, Arial, sans-serif; /* Və ya system-ui */
}

/* Linklər */
a {
    color: var(--text-white);
    text-decoration: none;
    transition: 0.2s;
}

    a:hover {
        color: var(--accent-green);
    }

/* Navbar */
.navbar-custom {
    background-color: var(--bg-header);
    border-bottom: 1px solid #000;
}

/* Düymələr */
.btn-letterboxd {
    background-color: var(--accent-green);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
}

    .btn-letterboxd:hover {
        background-color: #00c045;
        color: #fff;
    }


/* Hero Section (Jumbotron) */
.hero-section {
    position: relative;
    background-color: var(--bg-header); /* Şəkil yüklənməsə bu rəng görünəcək */
    border-radius: 12px;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(2px); /* Şəkli azca bulandıraq ki, diqqət yazıya getsin */
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(20, 24, 28, 0.6), rgba(20, 24, 28, 0.9));
}